<!DOCTYPE html>
<html>
    <head>
        <title>
          Skills
        </title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        
        <p>{{helpText1}}</p>
        <p>{{helpText2}}</p>
        <p>{{helpText3}}</p>
        <p>{{helpText4}}</p>
        <p>{{helpText5}}</p>
        <p>{{helpText6}}</p>
        <p>{{helpText7}}</p>
        <p>{{helpText8}}</p>
        </div>
        
        {{>footer}}
        
        
    </body>
</html>